body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.5px;
}
.godfather {
  display: grid;
  margin: 50px;
}
/* BETWEEN HERE IS THE NAV BAR */
.page-btn {
  display: grid;
  grid-template-columns: 7fr repeat(4, min-content);
  column-gap: 10px;
}
.fnt-sm {
  font-size: 12px;
  letter-spacing: 1px;
}
.thick-right {
  border-right: 1px solid black;
  letter-spacing: 1px;
  margin: 0 0 12px;
  padding-right: 15px;
}

/* ABOVE HERE IS THE NAV BAR */

.welcome {
  display: grid;
  grid-template-rows: max-content 1fr 1fr 1fr 1fr;
}
.first-txt {
  display: grid;
  grid-template-rows: 1fr max-content max-content;
  justify-items: center;
}

.pic {
  object-fit: cover;
  width: 100%;
  height: 50vh;
}

/* BELOW HERE IS WHERE YOU WILL CONTINUE */

.fnt-md {
  font-size: 18px;
}
.fnt-lg {
  font-size: 54px;
}
