body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.5px;
}
.godfather {
  display: grid;
  margin: 50px;
}
/* BETWEEN HERE IS THE NAV BAR */
.page-btn {
  display: grid;
  grid-template-columns: 7fr repeat(4, min-content);
  column-gap: 10px;
}
.fnt-sm {
  font-size: 12px;
  letter-spacing: 1px;
}
.thick-right {
  border-right: 1px solid black;
  letter-spacing: 1px;
  margin: 0 0 12px;
  padding-right: 15px;
}

/* ABOVE HERE IS THE NAV BAR */
.home-pic1 {
  object-fit: cover;
  width: 100%;
  height: 50vh;
}

/* WORK ON BELOW HERE */

/*
.welcome-grid {
  display: grid;
  grid-template-columns: min-content max-content;
  /* grid-template-rows: min-content; */
/* justify-items: center; */
/* } */
.first-grid {
  display: grid;
  grid-template-columns: 1fr max-content;
  /* grid-template-rows: min-content max-content; */
  padding-top: 40px;
  justify-items: center;
}
.lol {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 105px;
}
.omg {
  grid-column: 1 / 3;
  margin-top: 0;
  padding-top: 30px;
  font-size: 45px;
  /* grid-row: 2; */
}
.home-pic2 {
  border-radius: 2%;
  height: 50vh;
  margin-right: 100px;
  object-fit: cover;
}

/* ABOVE HERE IS WHERE YOU WILL CONTINUE */

.fnt-md {
  font-size: 30px;
}
.fnt-lg {
  font-size: 54px;
}
